.sign {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  overflow: hidden;

  &-nav {
    &-item {
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      position: absolute;
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: left -35vh;
    }
  }

  &-body {
    top: 30%;
    position: relative;
    transform: translateY(-30%);
  }

  &-logo {
    fill: #2c3e50;
    margin-bottom: 32px;
  }

  &-sidebar {
    top: 0;
    right: 0;
    width: 400px;
    height: 100%;
    padding: 16px;
    position: absolute;

    .form-list {
      &-code {
        display: inline-table;

        /deep/
        .el-input-group__append {
          padding: 0;
          height: 32px;

          > img {
            display: block;
            line-height: 0;
          }
        }
      }

      /deep/
      .el {
        &-form-item {
          &__label {
            width: 70px;
            min-width: 70px;

            &::before {
              display: none;
            }
          }

          &__content {
            width: calc(100% - 70px);
          }
        }
      }
    }
  }

  .nav-item {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    animation: nav-item 1s;
  }

  @keyframes nav-item {
    0% {
      width: 0;
    }
  }
}
